* {
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
	font-family: 'Noto Sans TC', sans-serif;
	margin: 0;
	padding: 0;
}
.h-modal-btn {
	width: 60px;
	height: 60px;
	color: #FFF;
	font-size: 40px;
	text-align: center;
	line-height: 60px;
	border: none;
	border-radius: 3px;
	margin: 9px;
}
.h-modal-btn[data-attr="eat"] {
	background-color: #FF9933;
}
.h-modal-bg {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(33, 33, 33, 0.48);

	visibility: hidden;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	opacity: 0;

  	-webkit-transition: all 0.3s ease-out; 
    transition: all 0.3s ease-out;
}
.h-modal {
	max-width: 640px;
	width: 90%;
	margin: 0 auto;
	border-radius: 24px;
	box-shadow: 0px 1px 12px #CCCCC;
	padding: 0 40px 40px;
	background-color: #FFFFFF;

	transform: scale(0.8);
	opacity: 0;
	-webkit-transition: all 0.2s ease-in-out; 
    transition: all 0.2s ease-in-out;
}
.h-modal-header {
	padding: 40px 0;
	position: relative;
}
.h-modal-close {
	width: 32px;
	height: 32px;
	display: block;
	text-align: center;
	font-size: 27px;
	position: absolute;
	right: 12px;
	top: 12px;
	cursor: pointer;
}
.h-modal-close i {
	line-height: 32px;
}
.h-modal-act-icon {
	width: 90px;
	height: 90px;
	display: block;
	margin: 0 auto;
	border: 10px solid #FFF;
	border-radius: 100%;
	box-shadow: 0px 1px 12px #D8D8D8;
	overflow: hidden;
}
.h-modal-act-icon img {
	width: 100%;
	border-radius: 100%;
}
.h-modal-title {
	font-size: 24px;
	font-weight: 600;
	text-align: center;
	margin: 18px 0;
}
.h-modal-content {
	font-size: 18px;
	text-align: center;
}
.h-modal-bg-show {
  	visibility: visible;
	opacity: 1;
}
.h-modal-show {
	/*display: flex;
  	flex-direction: column;
  	justify-content: center;*/
  	transform: scale(1);
  	opacity: 1;
}

.h-popup-btn {
	position: relative;
	width: 60px;
	height: 60px;
	color: #FFF;
	font-size: 40px;
	text-align: center;
	line-height: 60px;
	border: none;
	border-radius: 3px;
	margin: 9px;
}
.h-popup-btn[data-attr="play"] {
	background-color: #00CC99;
	outline: none;
}
.h-popup-bubble {
	display: block;
	position: absolute;
	z-index: 0;
	top: -12px;
	right: -25px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background: #FFF;
	color: #614C4C;
	font-size: 24px;
	text-align: center;
	line-height: 40px;
	box-shadow: 1px 1px 2px 1px #DEDEDE;

	opacity: 0;
	transform: translateY(10px);
	visibility: hidden;
	-webkit-transition: all 0.2s ease-in-out; 
    transition: all 0.2s ease-in-out;
}
.h-popup-bubble i {
	line-height: 40px;
}
.h-popup-bubble-pop {
	opacity: 1;
	transform: translateY(0);
	visibility: visible;
	animation: popup 1s;
}
/*.h-popup-bubble::before {
	content: '';
	position: absolute;
	z-index: -1;
	bottom: 0;
	left: 3px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 12px 0 0 12px;
	border-color: transparent transparent transparent #FFFFFF;
	box-shadow: 1px 1px 2px 1px #DEDEDE;
}*/

@keyframes popup {
	0% {
		transform: translateY(10px);
	}
	35% {
		transform: translateY(-2px);
	}
	60% {
		transform: translateY(7px);
	}
	100% {
		transform: translateY(0);
	}
}