.h-dropdown-menu {
  /*width: 270px; In order to set the same width as the parent element */
}
.h-select {
  position: relative;
}
.h-select-red {
  color: #DE0716;
}
.h-select-options {
  position: absolute;
  width: 100%;
  max-height: 220.5px;
  background: #FFF;
  box-shadow: 0px 1px 4px #EFEFEF;
  overflow-y: scroll;
  margin-top: 8px;
  z-index: 10;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0s 0.2s;
}
.h-select-options::-webkit-scrollbar {
  width: 6px;
}
.h-select-options ul li {
  font-size: 16px;
    font-weight: 600;
      /*text-align: center;*/
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
}
.h-select-options ul li span {
  display: block;
  padding: 12px 18px;
  margin: 0 12px;
  border-bottom: 1px solid #EEE;
}
.h-select-options ul li:last-child span {
  border: none;
}
.h-select-red .h-select-options::-webkit-scrollbar-track {
  background-color: #FFF;
}
.h-select-red .h-select-options::-webkit-scrollbar-thumb {
  background-color: #DE0716;
}
.h-select-red .h-select-options ul li:hover {
  background-color: #FDFBF4;
}
.h-select-red span.h-select-placeholder {
  border-color: #DE0716;
}
span.h-select-placeholder {
  display: block;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  /*text-align: center;*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 12px 18px;
  border: 4px solid;
  border-radius: 72px;
  /*user-select: none;*/
  cursor: pointer;
  transition: background 0.2s;
}
span.h-select-placeholder::after {
  font-family: "Font Awesome 5 Free";
  font-size: 24px;
  content: '\f0ab';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}
.h-select-red.h-select-active .h-select-placeholder {
  background: #DE0716;
  color: #FFF;
}
.h-select-active .h-select-placeholder::after {
  content: '\f0aa';
}
.h-select-active .h-select-options {
  opacity: 1;
  visibility: visible;
}

/* modal */
.h-modal-list {
  display: none;
}
.h-modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.48);
  z-index: 10000;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;

  -webkit-transition: all 0.3s ease-out; 
  transition: all 0.3s ease-out;
}
.h-modal-bg-show {
  visibility: visible;
  opacity: 1;
}
.h-modal {
  max-width: 640px;
  width: 90%;
  margin: -40px auto 0;
  /*box-shadow: 0px 1px 12px #CCCCCC;*/
  background-color: #FFFFFF;
  border-radius: 20px;
  max-height: 80%;
  overflow-y: scroll;
}


/*Especially for the skm website*/

/*@media (min-width: 576px) {
  .h-modal-bg {
    margin-left: -16px;
  }
}
@media (max-width: 575px) and (min-width: 415px) {
  .h-modal-bg {
    margin-left: -32px;
  }
}
@media (max-width: 414px) {
  .h-modal-bg {
    margin-left: -16px;
  }
}*/


.h-modal ul {
  list-style: none;
}
.h-modal ul li {
  font-size: 16px;
  font-weight: 600;
  /*text-align: center;*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.h-modal ul li span {
  display: block;
  padding: 12px 18px;
  margin: 0 12px;
  border-bottom: 1px solid #EEE;
  color: #DE0716;
}
.h-modal ul li:last-child span {
  border: none;
}
.h-modal-header {
  position: fixed;
  max-width: 640px;
  width: 90%;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  padding: 12px 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.h-modal-red {
  color: #DE0716;
}
.h-modal-red .h-modal-header {
  background-color: #DE0716;
  color: #FFFFFF;
}
.h-modal-red ul li:hover {
  background-color: #FDFBF4;
}
.h-modal-close {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: block;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
}
.h-modal-close i {
  color: #FFF;
}
.h-modal-content {
  text-align: center;
  margin-top: 48px;
}

.branch-modal-btn {
  position: relative;
  font-family: Noto Sans TC, '微軟正黑體', Verdana, Arial, Helvetica;
  font-size: 21px;
  font-weight: 700;
  text-align: left;
  background: #FFF;
  color: #DE0716;
  padding: 12px 36px 12px 12px;
  border: 5px solid #DE0716;
  border-radius: 37px;
  box-shadow: 0px 5px 8px 1px #DFDFE2;
  /*width: 200px;*/
}
/*.branch-modal-btn::after {
  font-family: "Font Awesome 5 Free";
    font-size: 36px;
    content: '\f0a9';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
}*/