
			#branch-dropdown-menu {
				width: 300px;
				display: inline-block;
			}
			img {
				width: 100%;
				display: block;
				margin: 0 auto;
			}
			/* h-select-style.css */
			* {
				font-family: Noto Sans TC, '微軟正黑體', Verdana, Arial, Helvetica;
				margin: 0;
				padding: 0;
			}
			html {
				-webkit-box-sizing: border-box;
			  	-moz-box-sizing: border-box;
			  	box-sizing: border-box;
			}

			.h-select-01 {
				position: relative;
				max-width: 300px;
			}
			.h-select-01 span {
				display: block;
				padding: 18px 27px;
				cursor: pointer;

				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.h-select-options {
				position: absolute;
				height: 220.5px;
				width: 100%;
				overflow-y: scroll;
				background: #FFF;
				color: #3398DB;
				font-size: 18px;
				font-weight: 700;
				margin-top: 8px;
				z-index: 10;

				opacity: 0;
				visibility: hidden;
				transition: opacity 0.2s, visibility 0s 0.2s;
			}
			.h-select-options::-webkit-scrollbar {
				width: 7px;
			}
			.h-select-options::-webkit-scrollbar-track {
				background-color: #FFF;
			}
			.h-select-options::-webkit-scrollbar-thumb {
				background-color: #3398DB;
			}
			.h-select-options ul {
				list-style: none;
			}
			.h-select-options li > span:hover {
				background: #FDFBF4;
			}
			span.h-select-placeholder {
				font-size: 20px;
				font-weight: 700;
				color: #FFF;
				padding-right: 60px;
				position: relative;
				border: 5px solid #FFF;
				border-radius: 72px;
				background: #3398DB;
				user-select: none;

				transition: background 0.2s;
			}
			.h-select-01 .h-select-placeholder::after {
				font-family: "Font Awesome 5 Free";
				font-size: 32px;
				content: '\f0ab';
				position: absolute;
				top: 50%;
				right: 27px;
				transform: translateY(-50%);
			}
			.h-select-01.h-select-active {
				font-family: "Font Awesome 5 Free";
				content: '\f0aa';
			}
			.h-select-01.h-select-active .h-select-placeholder {
				background: #FFF;
				color: #3398DB;
			}
			.h-select-01.h-select-active .h-select-placeholder::after {
				content: '\f0aa';
				color: #3398DB;
			}
			.h-select-01 .h-selected span::after {
				font-family: "Font Awesome 5 Free";
				content: '\f00c';
				color: #DDD9C9;
				margin-left: 27px;
			}

			.h-select-active .h-select-options {
				opacity: 1;
				visibility: visible;
			}

			#campaign-map {
				width: 100%;
				height: 0;
				padding-bottom: 88.33333%;
				position: relative;
				background-image: url('https://m.skm.com.tw/mSKMAdmin/WebFiles/Active/640795f9-cfd6-444f-96ce-ca5a63f4d109_20190528.jpg');
				background-size: 100%;
				transition: background-image 0.2s;
			}
			#campaign-map-grid {
				 width: 94.5%; 
				 margin: 0 auto; 
				 position: relative;
			}
			#campaign-map .brand-event {
				width: 20%; 
				height: 0; 
				padding-bottom: 100%; 
				display: inline-block; 
				/*border: 1px solid #FFF;*/

				position: relative;
			}
			#campaign-map .event-thumbnail {
				width: 64%;
				height: 0;
				padding-bottom: 64%;
				border-radius: 100%;
				/*background-color: red;
				opacity: 0.5;*/
				background-size: cover;
				background-position: center center;
				position: absolute;
				left: 18%;
				margin-left: 2px;
				margin-top: 3px;
				overflow: hidden;

				visibility: hidden;
				transform: scale(0.3, 0.3);
				opacity: 0.5;
				transition: all 0.2s ease-out;
			}
			#campaign-map .event-thumbnail > div {
				position: absolute;
				width: 100%;
				height: 100%;
				background-size: cover;
				background-position: center center;

				visibility: hidden;
				opacity: 0.2;
				transition: all 0.1s;
			}
			.event-thumbnail-show {
				visibility: visible!important;
				transform: scale(1, 1)!important;
				opacity: 1!important;
			}
			.event-r-01 {
				top: 7.2%;
			}
			.event-r-02 {
				top: 27.5%;
			}
			.event-r-03 {
				top: 47.8%;
			}
			.event-r-04 {
				top: 68.1%;
			}
			.event-logo-show {
				visibility: visible!important;
				opacity: 1!important;
			}
			#go-compaign {
				border: none;
				font-size: 20px;
				font-weight: 600;
				color: #FFF;
				background: #FE545A;
				box-shadow: 0 6px #AB3C3C;
				border-radius: 40px;
				cursor: pointer;
				padding: 25px 80px;
				display: inline-block;
				margin: 30px;
				outline: none;
				position: relative;
				-webkit-transition: none;
				-moz-transition: none;
				transition: none;
			}
			#go-compaign:active, #go-compaign:hover {
				box-shadow: 0 0 #AB3C3C;
				top: 6px;
			}
			#go-compaign::after {
				content: '';
				position: absolute;
				z-index: -1;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				transition: all 0.3s;
			}

			/* modal */
			.h-modal-bg {
				position: fixed;
				top: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(33, 33, 33, 0.48);
				z-index: 20;

				visibility: hidden;
				display: flex;
			  	flex-direction: column;
			  	justify-content: center;
			  	opacity: 0;

			  	-webkit-transition: all 0.3s ease-out; 
			    transition: all 0.3s ease-out;
			}
			.h-modal {
				max-width: 640px;
				width: 90%;
				margin: 0 auto;
				border-radius: 24px;
				box-shadow: 0px 1px 12px #CCCCC;
				background-color: #FFFFFF;

				transform: scale(0.8);
				opacity: 0;
				-webkit-transition: all 0.2s ease-in-out; 
			    transition: all 0.2s ease-in-out;
			}
			@media (min-width: 360px) {
				.h-modal {
					padding: 0 40px 40px;
				}
			}
			@media (max-width: 359px) {
				.h-modal {
					padding: 0 20px 20px;
				}
			}
			.h-modal-header {
				padding: 27px 0;
				position: relative;
			}
			.h-modal-close {
				width: 32px;
				height: 32px;
				display: block;
				text-align: center;
				font-size: 27px;
				position: absolute;
				right: 12px;
				top: 12px;
				cursor: pointer;
			}
			.h-modal-close i {
				color: #000;
				line-height: 32px;
			}
			.h-modal-act-icon {
				width: 90px;
				height: 90px;
				display: block;
				margin: 0 auto;
				border: 10px solid #FFF;
				border-radius: 100%;
				box-shadow: 0px 1px 12px #D8D8D8;
				overflow: hidden;
			}
			.h-modal-act-icon img {
				width: 100%;
				border-radius: 100%;
			}
			.h-modal-title {
				font-size: 20px!important;
				font-weight: 700!important;
				text-align: center;
				margin: 18px 0 0!important;
				color: #000;
			}
			.h-modal-place {
				font-size: 16px;
				color: #878787;
				text-align: center;
			}
			.h-modal-content {
				font-size: 18px;
				text-align: center;
				color: #000;
			}
			.h-modal-bg-show {
			  	visibility: visible;
				opacity: 1;
			}
			.h-modal-show {
				/*display: flex;
			  	flex-direction: column;
			  	justify-content: center;*/
			  	transform: scale(1);
			  	opacity: 1;
			}

